<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="semestralAuditoriaEntities" connectionString="metadata=res://*/Modelo.modeloAuditoria.csdl|res://*/Modelo.modeloAuditoria.ssdl|res://*/Modelo.modeloAuditoria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GVNOENM\MSSQLSERVEREDUAR;initial catalog=semestralAuditoria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Auditoria.Properties.Settings.semestralAuditoriaConnectionString"
      connectionString="Data Source=DESKTOP-GVNOENM\MSSQLSERVEREDUAR;Initial Catalog=semestralAuditoria;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>